<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <!-- Application -->
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Cleanshoes"
        tools:targetApi="31">

        <!-- Activities -->
        <activity
            android:name=".MapsActivity"
            android:exported="true" />
        <activity
            android:name=".OrderConfirmationActivity"
            android:exported="false" />
        <activity
            android:name=".ShippingActivity"
            android:exported="true" />
        <activity
            android:name=".PickActivity"
            android:exported="false" />
        <activity
            android:name=".AccountActivity"
            android:exported="false" />
        <activity
            android:name=".ChatActivity"
            android:exported="false" />
        <activity
            android:name=".OrderActivity"
            android:exported="false" />
        <activity
            android:name=".HomeActivity"
            android:exported="false" />
        <activity
            android:name=".SignUpActivity"
            android:exported="true" />
        <activity
            android:name=".SignInActivity"
            android:exported="true" />
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- API Keys -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBSeYifz_i1Atgv4MpFFGag9E7Dx3soAcc"/>
        <meta-data
            android:name="com.google.firebase.auth.API_KEY"
            android:value="@string/default_web_client_id" />

        <!-- Main Activity -->
        <activity
            android:name=".MainActivity"
            android:exported="true" />

    </application>

</manifest>
